$colors: (
  primary: #f4f7f6,
  secondary: #303755,
  cards: #fcfcfc,
  main_text: rgb(46, 46, 46),
  icons: rgb(160, 160, 160)
);

@function color($color_name) {
  @return map-get($colors, $color_name)
};
