@import "_colors.scss";

body {
  margin: 0;
  width: 100vw;
  font-family: Montserrat;
  background-color: color(primary);
}


a {
  cursor: pointer;
}

header {
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: color(cards);
  padding: 10px 20px;
  font-size: 25px;
  display: flex;

  a {
    text-decoration: none;
    color: color(icons);
    &:hover {
      color: darken(color(icons), 30);
    }
  }

  > span {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 20px;
    color: color(icons);
    border-left: 1px solid color(icons);
    svg {
      margin: 0 10px 0 10px;
      width: 25px;
      stroke: color(icons);
      stroke-width: 1.7;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .current {
      color: darken(color(icons), 30);
    }
  }
}


main {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 20px;
  padding: 50px;

  >input {
    display: none;
    &:checked + .add_board {
      border: 1px solid lighten(color(icons), 20);
      background-color: color(cards);
      transition: background-color 200ms ease-in-out;

      > label {
        position: absolute;
        z-index: 9;
        background-color: color(cards);
        transform: scale(0.5) translate(-50%, -50%);
        transform-origin: top left;
        animation: board_add_position 400ms ease-in-out forwards;

        transition: transform 200ms ease-in-out 200ms,
                    background-color 400ms ease-in-out;
        svg {
          stroke: color(icons);
          transform: rotate(45deg);
          transition: all 400ms ease-in-out;
        }
      }

      @keyframes board_add_position {
        0% {
          top: 50%; left: 50%;
        }
        50% {
          top: 30px; left: 50%;
        }
        100% {
          top: 30px; left: 30px;
        }
      }

      form {
        opacity: 1;
        pointer-events: all;
        transition: opacity 400ms ease-in-out;
        .hoverme {
          opacity: 1;
          transition: opacity 500ms ease-in-out 3s;
        }
      }
    }
  }

  .add_board {
    position: relative;
    width: 100%;
    display: grid;
    flex-direction: row;

    > label {
      background-color: rgba(238, 94, 94, 0.596);
      border-radius: 50%;
      width: 90px; height: 90px;
      position: absolute;
      z-index: 9;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover, &:focus {
        background-color: rgba(238, 94, 94, 0.849);
      }

      svg {
        width: 60px;
        stroke: color(primary);
        stroke-width: 3;
        stroke-linecap: round;
      }
    }

    form {
      opacity: 0;
      display: grid;
      grid-template-rows: 1fr 20px;
      pointer-events: none;
      padding: 20px;

      >span {
        position: absolute;
        bottom: 135px;
        left: 120px;
        color: rgba(238, 94, 94, 0.9);
      }

      .hoverme {
        position: absolute;
        top: 5px; right: 5px;
        bottom: auto; left: auto;
        font-size: 0.5em;
        color: color(icons);
        opacity: 0;
      }

      .name {
        align-self: center;
        padding: 5px 20px;
        position: relative;
        font-size: 1.4em;
        color: color(main_text);
        display: grid;
        grid-template-columns: 70px 240px;
        gap: 10px;
        align-items: flex-end;

        &__clickme {
          position: absolute;
          bottom: -6px; left: 19px;
          font-size: 0.4em;
          color: color(icons);
          opacity: 0;
          transition: opacity 500ms ease-in-out 0.5s;
        }

        #board_color {
          position: absolute;
          top: 0; left: 0;
          opacity: 0;
          &:focus + label svg{
            animation: svg_colors 5s infinite;
            opacity: 0.5;
          }
          &:focus ~ .name__clickme {
            opacity: 1;
          }
        }

        label{
          position: relative;
          cursor: pointer;
          margin-bottom: -5px;

          &:hover svg{
            animation: svg_colors 5s infinite;
            opacity: 0.5;
          }
          &:hover ~ .name__clickme {
            opacity: 1;
          }
          svg {
            --color: lightgrey;
            width: 60px;
            fill: var(--color);
            stroke: var(--color);
            stroke-width: 4;
            stroke-linejoin: round;
          }
        }

        #board_name {
          background: transparent;
          border: none;
          border-bottom: 1px solid color(icons);
          font-family: Montserrat;
          font-size: 1em;
          color: color(main_text);
          &:hover, &:focus {
            border-color: rgba(238, 94, 94, 1);
          }
        }
      }

      .board__add__submit {
        justify-self: flex-end;
        align-self: flex-end;
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        font-size: 1.2em;
        background-color: rgba(238, 94, 94, 0.7);
        color: white;
        cursor: pointer;
        &:hover, &:focus {
          background-color: rgba(238, 94, 94, 0.9);
        }
        input {
          position: absolute;
          top: 0; left: 0;
          opacity: 0;
        }
      }

      .required {
        color: color(icons);
        position: absolute;
        bottom: 20px; left: 20px;
      }

    }
  }

  .board {
    display: grid;
    grid-template-rows: 350px * 0.7 1fr;
    width: 400px;

    &__iframe_wrap {
      width: 400px;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: rgba(131, 131, 131, 0.116);
      border: 1px solid lighten(color(icons), 20);

      &:hover, &:focus {
        .board__iframe_container {
          transform: scale(1.02) translate(0, -3px);
        }
      }
    }
    &__iframe_container {
      width: 90%;
      height: 90%;
      overflow: hidden;
      position: relative;
      transition: transform 200ms ease-in-out;

      iframe {
        pointer-events: none;
        display: block;
        position: relative;
        top: -15px; left: -5px;
        width: 1338px;
        height: 860px;
        scale: 0.275;
        transform-origin: 0 0;
      }
    }

    > input {
      display: none;
      &:checked ~ .board__info {
        display: none;
      }
      &:checked ~ .board__edit {
        display: grid;
      }
    }

    &__info {
      border: 1px solid lighten(color(icons), 20);
      background-color: color(cards);
      height: 70px;
      grid-area: 2 / 1 / 3 / -1;
      position: relative;
      display: grid;
      grid-template-rows: auto auto;
      gap: 20px;
      padding: 20px;

      &__name {
        align-self: center;
        justify-self: flex-start;
        font-size: 1.4em;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        color: color(main_text);

        &:hover, &:focus {
          margin: -0.3em -0.9em;
          padding: 0.3em 0.6em 0.3em 0.9em;
          border-top-right-radius: 1em;
          border-bottom-right-radius: 1em;
          background-color: darken(color(cards), 3);
        }

        span {
          align-self: flex-end;
          margin-left: 0.6em;
        }

        > svg {
          --color: lightgrey;
          width: 40px;
          fill: var(--color);
          stroke: var(--color);
          stroke-width: 4;
          stroke-linejoin: round;
        }
      }

      &__date {
        color: color(main_text);
      }

      > input {
        display: none;
        &:checked ~ .board__info__options_menu{
          display: grid;
        }
      }

      &__options {
        position: absolute;
        top: 20px; right: 10px;
        svg {
          width: 23px;
          fill: color(icons);
        }
        &:hover, &:focus {
          cursor: pointer;
          svg {
            fill: color(main_text);
          }
        }
      }

      &__options_menu {
        display: none;
        position: absolute;
        z-index: 999;
        top: 15px; right: 15px;
        background-color: color(cards);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        grid-template-rows: auto auto;

        >label {
          padding: 10px 10px 7px 20px;
          height: 30px;
          margin-right: -1.5px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
          text-transform: capitalize;
          color: color(main_text);
          cursor: pointer;
          &:hover, &:focus {
            background-color: darken(color(cards), 10);
            svg {
              stroke: color(main_text);
            }
          }
          svg {
            transform: rotate(135deg);
            width: 30px;
            stroke: color(icons);
            stroke-width: 2;
            fill: none;
            margin-left: 9px;
          }
        }

        &__trash {
          padding: 5px 10px 10px 20px;
          position: relative;
          z-index: 9999;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          &:hover, &:focus {
            background-color: darken(color(cards), 10);
            svg {
              stroke: color(main_text);
            }
          }

          .delete_title {
            margin-top: 5.5px;
            margin-right: 7px;
            white-space: nowrap;
            text-transform: capitalize;
            color: color(main_text);
          }
          svg {
            margin-right: -5.5px;
            width: 35px;
            stroke: color(icons);
            fill: none;
            stroke-width: 1.8;
            g.lid {
              transform-origin: top right;
            }
          }
          &:hover, &:focus {
            cursor: pointer;
          }

          .trash-confirmation {
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            grid-template-columns: auto auto;
            gap: 17px;
            place-content: center;
            margin-top: 5.5px;
            padding-left: 16px;
            width: 57px;
            height: 30px;
            border-radius: 10px;

            .trash-checkmark {
              font-size: 18px;
              color: rgb(18, 151, 18);
              user-select: none;
              cursor: pointer;
              input {
                display: none;
              }
            }
            .trash-cross {
              font-size: 18px;
              color: rgb(218, 3, 3);
              user-select: none;
              cursor: pointer;
            }
          }
        }
      }
    }

    &__edit {
      border: 1px solid lighten(color(icons), 20);
      background-color: color(cards);
      grid-area: 2 / 1 / 3 / -1;
      position: relative;
      display: none;
      grid-template-rows: 1.4em 70px 1.4em;
      gap: 10px;
      padding: 20px 20px;

      &__exit {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: flex-end;
        align-self: center;
        height: 20px;
        cursor: pointer;
        &:hover svg {
          stroke: color(main_text);
        }
        svg {
          stroke: color(icons);
          stroke-linecap: round;
          stroke-width: 3;
          width: 20px;
        }
      }

      > span {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: flex-start;
        align-self: center;
        margin-left: -3px;
        font-size: 1.6em;
        color: color(main_text);
      }

      .message {
        position: absolute;
        font-size: 0.9em;
        top: 100px;
        left: 58px;
        color: rgba(238, 94, 94, 0.9);
      }

      &__name {
        align-self: center;
        padding-top: 5px;
        position: relative;
        font-size: 1.4em;
        color: color(main_text);
        display: grid;
        grid-template-columns: 40px 100px;


        .board_color {
          position: absolute;
          top: 0; left: 0;
          opacity: 0;
          &:focus + label svg{
            animation: svg_colors 5s infinite;
            opacity: 0.5;
          }
        }

        label{
          position: relative;
          cursor: pointer;

          &:hover svg{
            animation: svg_colors 5s infinite;
            opacity: 0.5;
          }
          svg {
            --color: lightgrey;
            width: 40px;
            fill: var(--color);
            stroke: var(--color);
            stroke-width: 4;
            stroke-linejoin: round;
          }
        }

        #board_name {
          justify-self: flex-start;
          width: 300px;
          margin-left: 0.6em;
          background: transparent;
          border: none;
          border-bottom: 1px solid color(icons);
          font-family: Montserrat;
          font-size: 1em;
          color: color(main_text);

          &:hover, &:focus {
            border-color: rgba(238, 94, 94, 1);
          }
        }

        @keyframes svg_colors {
          0%   {
            fill: red;
            stroke: red;
          }
          25%  {
            fill: yellow;
            stroke: yellow;
          }
          50%  {
            fill: blue;
            stroke: blue
          }
          75%  {
            fill: green;
            stroke: green;
          }
          100% {
            fill: red;
            stroke: red;
          }
        }
      }

      &__submit {
        justify-self: flex-end;
        align-self: center;
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        font-size: 1.2em;
        background-color: rgba(238, 94, 94, 0.7);
        color: white;
        cursor: pointer;
        &:hover, &:focus {
          background-color: rgba(238, 94, 94, 0.9);
        }
        input {
          position: absolute;
          top: 0; left: 0;
          opacity: 0;
        }
      }
    }
  }
}
