@import "_colors.scss";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: color(primary);
  font-family: Montserrat;
  display: grid;
  grid-template-rows: 51px 1fr;
}

header {
  background-color: color(cards);
  padding: 10px 20px;
  font-size: 25px;
  a {
    text-decoration: none;
    color: color(icons);
    &:hover {
      color: darken(color(icons), 20);
    }
  }
}

.main {
  position: relative;
  z-index: 9;
  pointer-events: none;
  display: grid;
  grid-template-rows: 1fr 1fr;

  &__title {
    align-self: flex-end;
    font-size: 80px;
    letter-spacing: -3px;
    line-height: 85px;
    margin: 0 130px;
    color: color(main_text);
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    align-self: flex-start;
    margin: 20px 0 0 138px;
    font-size: 25px;
    line-height: 38px;
    color: darken(color(icons), 40);
    width: 500px;
  }
}

body > a {
  position: absolute;
  bottom: 200px;
  left: 137px;
  text-decoration: none;
  background-color: rgba(238, 94, 94, 0.7);
  border-radius: 0.2em;
  color: white;
  font-size: 40px;
  padding: 5px 8px;

  &:hover, &:focus {
    background-color: rgba(238, 94, 94, 1);
  }
}

.graphic {
  position: absolute;
  bottom: 110px;
  left: 570px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 175px);
  gap: 15px;

  &:hover span {
    opacity: 0.4;
  }

  span {
    position: absolute;
    top: -26px;
    left: 305px;
    color: color(icons);
    opacity: 0;
    transition: opacity 200ms ease-in-out 1s;
  }

  div {
    --color: rgb(238, 94, 94);
    background-color: var(--color);
    opacity: 0.1;
    &:hover {
      background-color: var(--color);
      opacity: 0.15;
    }
  }
}
