body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat;
  background-color: #f4f7f6;
}

header {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fcfcfc;
  padding: 10px 20px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  text-decoration: none;
  color: #a0a0a0;
}

header a:hover {
  color: #545454;
}

header > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  color: #a0a0a0;
  border-left: 1px solid #a0a0a0;
}

header > span svg {
  margin: 0 10px 0 10px;
  width: 25px;
  stroke: #a0a0a0;
  stroke-width: 1.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

header > span .current {
  color: #545454;
}

.back {
  position: absolute;
  top: 80px;
  left: 5vw;
}

.back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.back a svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  stroke: #2e2e2e;
  stroke-linecap: round;
  stroke-width: 1.2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.back a span {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #2e2e2e;
}

.back a:hover span, .back a:focus span {
  font-weight: 400;
}

.back a:hover svg, .back a:focus svg {
  stroke-width: 1.8;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  padding: 5vw;
}

.image {
  height: 36.6vw;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prevw {
  padding: 3vw;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto 1fr;
      grid-template-rows: auto auto auto auto 1fr;
  gap: 1vw;
  justify-items: flex-start;
  background-color: #fcfcfc;
  color: #2e2e2e;
}

.prevw__name {
  font-size: 2.7vw;
  font-weight: 300;
}

.prevw > input {
  display: none;
}

.prevw > input:checked ~ .options_menu {
  display: -ms-grid;
  display: grid;
}

.prevw__options {
  position: absolute;
  top: 1.5vw;
  right: 1vw;
}

.prevw__options svg {
  width: 1.6vw;
  fill: #a0a0a0;
}

.prevw__options:hover, .prevw__options:focus {
  cursor: pointer;
}

.prevw__options:hover svg, .prevw__options:focus svg {
  fill: #2e2e2e;
}

.prevw .options_menu {
  display: none;
  position: absolute;
  z-index: 999;
  top: 1.5vw;
  right: 1.5vw;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.prevw .options_menu a {
  padding: 10px 10px 7px 20px;
  height: 30px;
  margin-right: -1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  text-transform: capitalize;
  color: #2e2e2e;
  cursor: pointer;
}

.prevw .options_menu a:hover, .prevw .options_menu a:focus {
  background-color: #e3e3e3;
}

.prevw .options_menu a:hover svg, .prevw .options_menu a:focus svg {
  stroke: #2e2e2e;
}

.prevw .options_menu a svg {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 30px;
  stroke: #a0a0a0;
  stroke-width: 2;
  fill: none;
  margin-left: 9px;
}

.prevw .options_menu__trash {
  padding: 5px 10px 10px 20px;
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prevw .options_menu__trash:hover, .prevw .options_menu__trash:focus {
  background-color: #e3e3e3;
}

.prevw .options_menu__trash:hover svg, .prevw .options_menu__trash:focus svg {
  stroke: #2e2e2e;
}

.prevw .options_menu__trash .delete_title {
  margin-top: 5.5px;
  margin-right: 7px;
  white-space: nowrap;
  text-transform: capitalize;
  color: #2e2e2e;
}

.prevw .options_menu__trash svg {
  margin-right: -5.5px;
  width: 35px;
  stroke: #a0a0a0;
  fill: none;
  stroke-width: 1.8;
}

.prevw .options_menu__trash svg g.lid {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.prevw .options_menu__trash:hover, .prevw .options_menu__trash:focus {
  cursor: pointer;
}

.prevw .options_menu__trash .trash-confirmation {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 17px;
  place-content: center;
  margin-top: 5.5px;
  padding-left: 16px;
  width: 57px;
  height: 30px;
  border-radius: 10px;
}

.prevw .options_menu__trash .trash-confirmation .trash-checkmark {
  font-size: 18px;
  color: #129712;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.prevw .options_menu__trash .trash-confirmation .trash-checkmark input {
  display: none;
}

.prevw .options_menu__trash .trash-confirmation .trash-cross {
  font-size: 18px;
  color: #da0303;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.prevw__tags {
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

.prevw__tags a {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  --tag_color: grey;
  text-decoration: none;
  background-color: var(--tag_color);
  color: black;
  opacity: 0.7;
}

.prevw__tags a:hover, .prevw__tags a:focus {
  opacity: 1;
}

.prevw__linkbox {
  font-size: 1vw;
  height: 1.4em;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
  overflow: hidden;
}

.prevw__linkbox a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.4em;
}

.prevw__linkbox a div {
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prevw__linkbox a svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1.8vw;
  height: 1.8vw;
  stroke: #2e2e2e;
  stroke-width: 1.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.prevw__date {
  font-size: 1.2vw;
}

.prevw__description {
  font-size: 1vw;
  width: 100%;
  padding: 2vw 3vw;
  margin: 2vw -3vw;
  border-top: 1px solid #a0a0a0;
}
/*# sourceMappingURL=pin_close.css.map */