body {
  margin: 0;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  font-family: Montserrat;
  background-color: #f4f7f6;
}

.back {
  justify-self: flex-start;
  margin: 50px;
  margin-left: 65px;
  margin-bottom: 0;
}

.back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.back a svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  stroke: #2e2e2e;
  stroke-linecap: round;
  stroke-width: 1.2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.back a span {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #2e2e2e;
}

.back a:hover span, .back a:focus span {
  font-weight: 400;
}

.back a:hover svg, .back a:focus svg {
  stroke-width: 1.8;
  stroke: #ee5e5e;
}

form {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: 5vw;
  background-color: #fcfcfc;
}

.image {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image input:focus + label {
  border-color: #ee5e5e;
}

.image input:focus + label svg g.upload-arrow path {
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

.image input:focus + label svg g.upload-bottom path, .image input:focus + label svg g.upload-arrow path {
  stroke: #009292;
}

.image label {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  border-right: 2px dashed #a0a0a0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: center;
  cursor: pointer;
  color: #a0a0a0;
}

.image label div.label_img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image label div.label_img span {
  margin-bottom: 20px;
}

.image label div.label_img img {
  width: 350px;
  border: 1px dashed lightblue;
}

.image label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image label span .image_message {
  position: relative;
  top: 10px;
  font-size: 0.8em;
  color: #ee5e5e;
}

.image label span.file_uploaded {
  font-size: 1.2em;
  -webkit-animation: file_uploaded 500ms ease-in forwards;
          animation: file_uploaded 500ms ease-in forwards;
  color: #2e2e2e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@-webkit-keyframes file_uploaded {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1.2em;
  }
}

@keyframes file_uploaded {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1.2em;
  }
}

.image label svg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
  stroke: #a0a0a0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.image label svg.run_svg_animation g.upload-arrow path {
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

@-webkit-keyframes draw-svg {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-svg {
  to {
    stroke-dashoffset: 0;
  }
}

.image label:hover svg g.upload-bottom path {
  stroke: #009292;
}

.image label:hover svg g.upload-arrow path {
  stroke: #009292;
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

.prevw {
  padding: 40px;
  padding-bottom: 80px;
  width: 30%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  gap: 1vw;
  justify-items: flex-start;
  color: #2e2e2e;
}

.prevw .name_message, .prevw .link_message {
  position: relative;
  bottom: 8px;
  font-size: 0.8em;
  color: #ee5e5e;
}

.prevw input, .prevw textarea {
  background-color: transparent;
  font-family: Montserrat;
}

.prevw__name {
  width: 307px;
  font-size: 2.7vw;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #a0a0a0;
}

.prevw__name:focus, .prevw__name:hover {
  border-color: #ee5e5e;
}

.prevw__tags {
  position: relative;
  width: 305px;
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

.prevw__tags #update_form_pin_tag_list {
  width: 100%;
  white-space: normal;
  line-height: 2em;
}

.prevw__tags #update_form_pin_tag_list span {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  margin-right: 0.3em;
  opacity: 0.7;
}

.prevw__tags #update_form_pin_tag_list input {
  border: none;
  font-family: Montserrat;
  font-size: 1vw;
  width: 7vw;
}

.prevw__tags #hidden_update_form_pin_tags {
  display: none;
}

.prevw__link {
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.1em 0.3em;
}

.prevw__link input {
  position: absolute;
  top: 0;
  left: 0;
  width: 83.8%;
  padding: 1% 14% 1% 2%;
  font-size: 1em;
  font-family: Montserrat;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
}

.prevw__link input:hover, .prevw__link input:focus {
  border-color: #ee5e5e;
}

.prevw__link svg {
  width: 23px;
  height: 23px;
  stroke: #2e2e2e;
  stroke-width: 1.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.prevw textarea {
  resize: vertical;
  width: 303px;
  height: 16vw;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 300;
}

.prevw textarea:hover, .prevw textarea:focus {
  border-color: #ee5e5e;
}

.prevw button {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  font-family: Montserrat;
  font-size: 1.3em;
  height: 1.5em;
  background-color: rgba(238, 94, 94, 0.5);
  border: none;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.prevw button:hover, .prevw button:focus {
  background-color: rgba(238, 94, 94, 0.8);
  cursor: pointer;
}
/*# sourceMappingURL=pin_close_edit.css.map */