body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f7f6;
  font-family: Montserrat;
}

a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: #fcfcfc;
  padding: 10px 20px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  text-decoration: none;
  color: #a0a0a0;
}

header a:hover {
  color: #545454;
}

header > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  color: #a0a0a0;
  border-left: 1px solid #a0a0a0;
}

header > span svg {
  margin: 0 10px 0 10px;
  width: 25px;
  stroke: #a0a0a0;
  stroke-width: 1.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

header > span .current {
  color: #545454;
}

main {
  margin: 5vw 5vw;
}

main .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -2.5vw 0 2.5vw 0;
}

main .tags span {
  font-size: 1.5em;
  font-weight: 300;
  margin-right: 1em;
}

main .tags a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 1.3em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background-color: #fcfcfc;
}

main .tags a:hover svg, main .tags a:focus svg {
  stroke: #ee5e5e;
}

main .tags a svg {
  margin-left: 0.3em;
  width: 1em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  stroke: #2e2e2e;
  stroke-width: 2;
  stroke-linecap: round;
}

main .pins_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
}

main .pins_container > input {
  display: none;
}

main .pins_container > input:checked + .pins_container__add {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

main .pins_container > input:checked + .pins_container__add:after {
  padding-top: 150%;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content {
  background-color: #fcfcfc;
  -webkit-transition: background-color 200ms ease-in-out 200ms;
  transition: background-color 200ms ease-in-out 200ms;
  border: 1px solid lightgray;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content > label {
  position: absolute;
  z-index: 9;
  background-color: #fcfcfc;
  -webkit-transform: scale(0.5) translate(-50%, -50%);
          transform: scale(0.5) translate(-50%, -50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: pin_add_position 400ms ease-in-out forwards;
          animation: pin_add_position 400ms ease-in-out forwards;
  -webkit-transition: background-color 400ms ease-in-out, -webkit-transform 200ms ease-in-out 200ms;
  transition: background-color 400ms ease-in-out, -webkit-transform 200ms ease-in-out 200ms;
  transition: transform 200ms ease-in-out 200ms, background-color 400ms ease-in-out;
  transition: transform 200ms ease-in-out 200ms, background-color 400ms ease-in-out, -webkit-transform 200ms ease-in-out 200ms;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content > label svg {
  stroke: #a0a0a0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@-webkit-keyframes pin_add_position {
  0% {
    top: 20%;
    left: 50%;
  }
  50% {
    top: 30px;
    left: 50%;
  }
  100% {
    top: 30px;
    left: 30px;
  }
}

@keyframes pin_add_position {
  0% {
    top: 20%;
    left: 50%;
  }
  50% {
    top: 30px;
    left: 50%;
  }
  100% {
    top: 30px;
    left: 30px;
  }
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out 400ms, visibility 200ms ease-in-out 400ms;
  transition: opacity 200ms ease-in-out 400ms, visibility 200ms ease-in-out 400ms;
  width: 100%;
  height: 100%;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 4fr 7fr;
      grid-template-rows: 4fr 7fr;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img {
  border-top: 1px solid lightgray;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img input:focus + label {
  border-color: #ee5e5e;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img input:focus + label svg g.upload-arrow path {
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img input:focus + label svg g.upload-bottom path, main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img input:focus + label svg g.upload-arrow path {
  stroke: #009292;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  border-bottom: 2px dashed #a0a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #a0a0a0;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label span.file_uploaded {
  font-size: 1.2em;
  -webkit-animation: file_uploaded 500ms ease-in forwards;
          animation: file_uploaded 500ms ease-in forwards;
  color: #2e2e2e;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label .image_message {
  position: relative;
  top: 1em;
  font-size: 0.8em;
  color: #ee5e5e;
}

@-webkit-keyframes file_uploaded {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1.2em;
  }
}

@keyframes file_uploaded {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.5em;
  }
  100% {
    font-size: 1.2em;
  }
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label svg {
  width: 80px;
  stroke: #a0a0a0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label svg.run_svg_animation g.upload-arrow path {
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

@-webkit-keyframes draw-svg {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-svg {
  to {
    stroke-dashoffset: 0;
  }
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label:hover svg g.upload-bottom path {
  stroke: #009292;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__img label:hover svg g.upload-arrow path {
  stroke: #009292;
  stroke-dasharray: 22.75;
  stroke-dashoffset: 22.75;
  -webkit-animation: draw-svg 300ms ease-in forwards;
          animation: draw-svg 300ms ease-in forwards;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw {
  padding: 4%;
  position: relative;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 10px;
  color: #2e2e2e;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw .name_message, main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw .link_message {
  font-size: 0.8em;
  color: #ee5e5e;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw input {
  font-family: Montserrat;
  font-weight: 300;
  background-color: transparent;
  color: #2e2e2e;
  padding: 0;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__name {
  font-size: 1.4em;
  border: none;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw #add_form_pin_tag_container {
  position: relative;
  width: 92%;
  margin: 3px 0 4px 0;
  font-size: 0.8em;
  font-weight: 300;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw #add_form_pin_tag_container #add_form_pin_tag_list {
  white-space: pre-line;
  line-height: 2em;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw #add_form_pin_tag_container #add_form_pin_tag_list span {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  margin-right: 0.3em;
  opacity: 0.7;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw #add_form_pin_tag_container #hidden_add_form_pin_tags {
  display: none;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__tags {
  font-size: 1em;
  border: none;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__link {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.1em 0.3em;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__link input {
  position: absolute;
  top: 0;
  left: 0;
  width: 83.8%;
  padding: 1% 14% 1% 2%;
  font-size: 1em;
  font-family: Montserrat;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__link input:hover, main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__link input:focus {
  border-color: #ee5e5e;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw__link svg {
  width: 23px;
  height: 23px;
  stroke: #2e2e2e;
  stroke-width: 1.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw textarea {
  resize: vertical;
  width: 97%;
  height: 61.5%;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 300;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw textarea:hover, main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw textarea:focus {
  border-color: #ee5e5e;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw button {
  font-family: Montserrat;
  font-size: 1em;
  background-color: rgba(238, 94, 94, 0.5);
  border: none;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw button:hover, main .pins_container > input:checked + .pins_container__add .pins_container__add__content__form .add_form_pin__prevw button:focus {
  background-color: rgba(238, 94, 94, 0.8);
  cursor: pointer;
}

main .pins_container__add {
  position: relative;
}

main .pins_container__add::after {
  content: "";
  display: block;
  padding-top: 85%;
}

main .pins_container__add__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

main .pins_container__add__content > label {
  background-color: rgba(238, 94, 94, 0.596);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .pins_container__add__content > label:hover, main .pins_container__add__content > label:focus {
  background-color: rgba(238, 94, 94, 0.849);
}

main .pins_container__add__content > label svg {
  width: 60px;
  stroke: #f4f7f6;
  stroke-width: 3;
  stroke-linecap: round;
}

main .pins_container__add__content__form {
  visibility: hidden;
  opacity: 0;
}

main .pins_container .pin {
  list-style: none;
  background-color: #fcfcfc;
  position: relative;
  border: 1px solid lightgray;
}

main .pins_container .pin__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8fr 3fr;
      grid-template-rows: 8fr 3fr;
}

main .pins_container .pin__content__img {
  background-color: grey;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

main .pins_container .pin__content__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

main .pins_container .pin__content__img img:hover {
  opacity: 0.9;
  scale: 1.05;
}

main .pins_container .pin__content__prevw {
  padding: 4%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  font-weight: 300;
  row-gap: 10px;
  background-color: #fcfcfc;
}

main .pins_container .pin__content__prevw__name {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.4em;
  color: #2e2e2e;
}

main .pins_container .pin__content__prevw__tags {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2 / 1 / 3 / -1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 3px;
}

main .pins_container .pin__content__prevw__tags a {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.8em;
  --tag_color: grey;
  text-decoration: none;
  background-color: var(--tag_color);
  color: black;
  opacity: 0.7;
}

main .pins_container .pin__content__prevw__tags a:hover, main .pins_container .pin__content__prevw__tags a:focus {
  opacity: 1;
}

main .pins_container .pin__content__prevw__linkbox {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 50%;
  height: 1.4em;
  border: 1px solid #2e2e2e;
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
  overflow: hidden;
}

main .pins_container .pin__content__prevw__linkbox a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.4em;
}

main .pins_container .pin__content__prevw__linkbox a div {
  width: 80%;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .pins_container .pin__content__prevw__linkbox a svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 23px;
  height: 23px;
  stroke: #2e2e2e;
  stroke-width: 1.3;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .pins_container .pin__content__prevw > input {
  display: none;
}

main .pins_container .pin__content__prevw > input:checked ~ .options_menu {
  display: -ms-grid;
  display: grid;
}

main .pins_container .pin__content__prevw__options {
  position: absolute;
  top: 20px;
  right: 15px;
}

main .pins_container .pin__content__prevw__options svg {
  width: 20px;
  fill: #a0a0a0;
}

main .pins_container .pin__content__prevw__options:hover, main .pins_container .pin__content__prevw__options:focus {
  cursor: pointer;
}

main .pins_container .pin__content__prevw__options:hover svg, main .pins_container .pin__content__prevw__options:focus svg {
  fill: #2e2e2e;
}

main .pins_container .pin__content__prevw .options_menu {
  display: none;
  position: absolute;
  z-index: 999;
  top: 15px;
  right: 15px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

main .pins_container .pin__content__prevw .options_menu a {
  padding: 10px 10px 7px 20px;
  height: 30px;
  margin-right: -1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  text-transform: capitalize;
  color: #2e2e2e;
  cursor: pointer;
}

main .pins_container .pin__content__prevw .options_menu a:hover, main .pins_container .pin__content__prevw .options_menu a:focus {
  background-color: #e3e3e3;
}

main .pins_container .pin__content__prevw .options_menu a:hover svg, main .pins_container .pin__content__prevw .options_menu a:focus svg {
  stroke: #2e2e2e;
}

main .pins_container .pin__content__prevw .options_menu a svg {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 30px;
  stroke: #a0a0a0;
  stroke-width: 2;
  fill: none;
  margin-left: 9px;
}

main .pins_container .pin__content__prevw .options_menu__trash {
  padding: 5px 10px 10px 20px;
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pins_container .pin__content__prevw .options_menu__trash:hover, main .pins_container .pin__content__prevw .options_menu__trash:focus {
  background-color: #e3e3e3;
}

main .pins_container .pin__content__prevw .options_menu__trash:hover svg, main .pins_container .pin__content__prevw .options_menu__trash:focus svg {
  stroke: #2e2e2e;
}

main .pins_container .pin__content__prevw .options_menu__trash .delete_title {
  margin-top: 5.5px;
  margin-right: 7px;
  white-space: nowrap;
  text-transform: capitalize;
  color: #2e2e2e;
}

main .pins_container .pin__content__prevw .options_menu__trash svg {
  margin-right: -5.5px;
  width: 35px;
  stroke: #a0a0a0;
  fill: none;
  stroke-width: 1.8;
}

main .pins_container .pin__content__prevw .options_menu__trash svg g.lid {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

main .pins_container .pin__content__prevw .options_menu__trash:hover, main .pins_container .pin__content__prevw .options_menu__trash:focus {
  cursor: pointer;
}

main .pins_container .pin__content__prevw .options_menu__trash .trash-confirmation {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 17px;
  place-content: center;
  margin-top: 5.5px;
  padding-left: 16px;
  width: 57px;
  height: 30px;
  border-radius: 10px;
}

main .pins_container .pin__content__prevw .options_menu__trash .trash-confirmation .trash-checkmark {
  font-size: 18px;
  color: #129712;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .pins_container .pin__content__prevw .options_menu__trash .trash-confirmation .trash-checkmark input {
  display: none;
}

main .pins_container .pin__content__prevw .options_menu__trash .trash-confirmation .trash-cross {
  font-size: 18px;
  color: #da0303;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .pins_container .pin__content__prevw__date {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main .pins_container .pin::after {
  content: "";
  display: block;
  padding-top: 85%;
}
/*# sourceMappingURL=pins.css.map */